{% extends 'admin/admin.html.twig' %}

{% block title %}Liste des abonnés aux newsletters{% endblock %}

{% block body %}
	<p>"PRENOM","EMAIL",</p>
	{% for newsletter in newsletters %}

	<p>"{{newsletter.prenom}}","{{newsletter.email}}",</p>
	{% endfor %}


{% endblock %}