nav.navbar.bootsnav {
    background-color: #1D3F7C;
    height: 140px;
    border-bottom: none;
}

.top-search{
    height : 20px;
    padding-top:0px;
}

.top-search input.form-control {
    height: 20px;
}


#navbar-menu{
    padding-top: 20px;
}
nav.navbar.bootsnav ul.nav > li > a, .attr-nav > ul > li > a {
    color: white;
    background-color: transparent !important;
}

nav.navbar.bootsnav ul.nav li > a.active {
    color: #f9af32;
}

@media (min-width:500px) and (max-width:992px) {
    #bars{
        padding-top: 80%;
    }

    #navbar-menu {
        background-color: grey;
        opacity:0.75;
    }

    .navbar-toggle{
        color:white;
    }
    nav.navbar.navbar{
        height: 70px;
    }
    .logoDT{
        height: 50px;
        width: 50px;
        padding-bottom: 0;
        vertical-align: auto;
        text-align: left;
    }

    .reseaux{
        visibility: visible;
    }
    .navbar-brand {
        padding: 10px 2px;
    }
    nav.navbar.bootsnav .navbar-toggle {
        background-color: transparent !important;
        border: none;
        padding: 0;
        font-size: 30px;
        position: relative;
        top: 5px;
    }
    nav.navbar.bootsnav ul.nav > li > a, .attr-nav > ul > li > a {
        color: white;
    }
}

@media screen and (max-width:500px) {
    nav.navbar.navbar{
        height: 70px;
    }
    .logoDT{
        height: 50px;
        width: 50px;
        padding-bottom: 0;
        vertical-align: auto;
        text-align: left;
    }

    .reseaux{
        visibility: visible;
    }
    .navbar-brand {
        padding: 10px 2px;
    }
    nav.navbar.bootsnav .navbar-toggle {
        background-color: transparent !important;
        border: none;
        padding: 0;
        font-size: 30px;
        position: relative;
        top: 5px;
    }
    nav.navbar.bootsnav ul.nav > li > a, .attr-nav > ul > li > a {
        color: white;
    }

    nav.navbar.bootsnav.no-background {
        background-color: transparent;
        border: none;
    }

    #navbar-menu {
        background-color: grey;
        opacity:0.75;
    }

    #bars{
        padding-top: 80%;
    }

    .navbar-toggle{
        color:white;
    }

}