/* Header */

.logoDT{
    height: 90px;
    width: 90px;
    vertical-align: top;
}

.reseaux{
    visibility: hidden;
}

h2{
    font-size: 60px;
}

.m-top-20 {
    margin-top: 30px;
}

/* Fin Header*/

/*changement de couleur des titres des texte bouton*/
.btn-primary:hover{
    background-color: #eee;
    border-color: #eee;
    color:#f9af32;
}

.head_title h2 {
    border-left: 3px solid #f9af32;
}

h1 {
    color: #f9af32;
}

.text-orange{
    color: #f9af32;
}

.bg-orange {
    background-color: #f9af32;
}

.btn-card:hover {
    background-color: #f9af32;
}

.btn-default:hover {
    color: #f9af32;
    background-color: #fff;
    border-color: #f9af32;
}

.btn-default{
    color: #fff;
    background-color: #f9af32;
    border-color: #f9af32;
}



.teams_item ul li a:hover i {
    color: #f9af32;
}

.menu:hover {
    color: #f9af32;
}


.mouse-scroll .mouse {
    border: 3px solid #f9af32;
}

.mouse-scroll .mouse .mouse-movement {
    background: #f9af32;
}

.mouse-scroll .mouse-message {
    color:#f9af32;
    font-weight: bold;
}

/* Fin changement couleur texte*/



.overlay{
    background-image: url("/images/stadeblue.jpg");
    Background-position: center;
    background-color: #1D3F7C;
}


.scrollup::after {
    content: "\F106";
}

li {
    list-style-type:none;
}


.scrollup {

    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    line-height: 40px;
    font-family: FontAwesome;
    background-color: #000;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #f9af32;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.m-top-80 {
    margin-top: 0px;
}


@media screen and (max-width:500px) {

    h1.text-orange{
        font-size: 60px;
    }

    h5 {
        font-size: 16px;
        line-height: 16px;
    }

    .domaines {
        height:50px;
        overflow: hidden;

    }

    .domaines h2{
        height:50px;
        font-size: 30px;
        padding-top:15%;
    }

    .home_text h1 {
        font-size: 60px;
    }

    .mouse-scroll {
        position: absolute;
        left:35%;
    }


    .home {
        padding-top: 80px;
        padding-bottom: 320px;
        width: 100%;}



    .form {
        padding-left: 5%;
        padding-right: 5%;
    }
    .btnform{
        padding: 1rem 1rem;
    }
    #pricing{
        padding-top: 10%;
    }

}

.titlepage {
    background-color: #1D3F7C;
    padding-top: 15%;
    padding-bottom: 10%;
}

/*article du blog*/

.imageblog{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20%;
    min-width:40%;
    max-width:100%;
}

.btnarticle{
    background-color: #f9af32;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 54px;
    width: 221px;
    border: none;
}

/*fin article blog*/

/*blog*/

.blog{
    padding-top: 20%;
    padding-bottom: 10%;
}

.col-md-4
{

    margin-bottom:20px;
}
.card-content{
    height:500px;
}

.card-img{
    height:200px;
}

h1 span, h2 span, h3 span, h4 span, h5 span, p span {
    color: black;
}

/* Fin blog*/

/*Agence*/
/*image qui défile*/
.imgAgence{

    background-image: url("/images/equipe.jpg");
    background-color: #1D3F7C;

}

.imgAgence2{
    background-attachment: fixed;
    background-image: url("/images/action.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height:400px;
}
.titleAgence h1 {
    font-size: 100px;
    font-family: 'Kaushan Script', cursive;
    line-height: 0rem;
}


.presentation{
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: white;
    color : black;
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0;
        width: 100%;
    }
}

.text-uppercase{
    animation-duration: 3s;
    animation-name: slidein;
}

#teams {
    background-color: white;
    padding-top: 5%;
}

.teams_item{
    padding-left: 5%;
    padding-right: 5%;
}

/* Fin agence*/


/*expertises*/

.domaines {
    height:100px;
    overflow: hidden;
    margin-top: 10%;
}

.domaines h2{
    margin-bottom: 5px;
    height:100px;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
}

.Sdomaine{
    background-image: url('/images/expertise.jpg');

}


/* Finexpertises*/

/*services*/

.pricing_body{
    line-height:1.5;
    text-align: left;
    padding-left: 2%;
    padding-right:2%
}
.pricing_body ul {
    font-weight: 600;
}

.titleservice, .btn{
    animation-duration: 3s;
    animation-name: bounceOut;
}
.filter-button{
    animation-name:none;
    background-color: white;
}
/*Fin services*/

/*contact*/
.contact{
    background-image: url('/images/contactez_nous.jpg');
}
.box1{
    background: #c5b1c7;
    height: 200px;
    margin-bottom: 0;
}
.box2{
    background: #f9af32;
    height: 200px;
    margin-bottom: 0;
}
.box3{
    background: #327cf9;
    height: 200px;
    margin-bottom: 0;
}

.devis{
    background-image: url('/images/demandez_devis.jpg');
}

/*Portfolio*/
#portfolio{
    padding-bottom: 10%;
}

.form-group li{
    color: red;
}