<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>DigiTeam - agence digitale sport - plan du site</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ asset('/images/favicon.ico') }}" />

    <title>{% block title %}DigiTeam{% endblock %}</title>

    {% include 'layout/stylesheets.html.twig' %}

</head>

{% include 'layout/navbar.html.twig' %}
<body>
<div class="titlepage">

    <div class="container">
        <div class="">
            <div class="main_home text-center">
                <div class="col-md-12">
                    <div class="">
                        <div class="">
                            <div class="home_text ">
                                <h1 class="text-orange">Plan du site DigiTeam</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/>

<div class="container">
    <div class="text-center">



        <li class="lhead">  <span class="lcount">Les pages</span></li>
        <br/>
        <li class="lpage"><a href="http://digiteamp5.com/" title="DigiTeam - agence digitale sport - Accueil">DigiTeam - agence digitale sport - Accueil</a></li>
        <li class="lpage"><a href="http://digiteamp5.com/nos-expertises" title="DigiTeam - agence digitale sport - Nos expertises">DigiTeam - agence digitale sport - Nos expertises</a></li>
        <li class="lpage"><a href="http://digiteamp5.com/nos-services" title="DigiTeam - agence digitale sport - nos services">DigiTeam - agence digitale sport - nos services</a></li>
        <li class="lpage"><a href="http://digiteamp5.com/notre-blog" title="DigiTeam - agence digitale sport - Notre blog">DigiTeam - agence digitale sport - Notre blog</a></li>
        <li class="lpage"><a href="http://digiteamp5.com/contact" title="DigiTeam - agence digitale sport - Contact et devis">DigiTeam - agence digitale sport - Contact et devis</a></li>
        <li class="lpage"><a href="http://digiteamp5.com/devis" title="DigiTeam - agence digitale sport - devis">DigiTeam - agence digitale sport - devis</a></li>
        <li class="lpage"><a href="http://digiteamp5.com/presentation-de-notre-agence-Digiteam" title="DigiTeam - agence digitale sport - présentation de l'agence">DigiTeam - agence digitale sport - présentation de l'agence</a></li>
        <li class="lpage last-page"><a href="http://digiteamp5.com/plan-du-site" title="DigiTeam - agence digitale sport - plan du site">DigiTeam - agence digitale sport - plan du site</a></li><li><ul class="level-1">
                <br/>
                <li class="lhead"> <span class="lcount">Les articles du blog</span></li>
                <br/>
                <li class="lpage"><a href="http://digiteamp5.com/article/conception-d-un-site-sur-mesure-avec-symfony-4" title="DigiTeam - agence digitale sport">Un site sur mesure avec Symfony 4</a></li>
                <li class="lpage"><a href="http://digiteamp5.com/article/pourquoi-faire-appel-a-une-agence-pour-creer-son-site-internet" title="DigiTeam - agence digitale sport">Pourquoi faire appel à une agence pour créer son site web ?</a></li>
                <li class="lpage"><a href="http://digiteamp5.com/article/le-sponsoring" title="DigiTeam - agence digitale sport">Le sponsoring</a></li>
                <li class="lpage"><a href="http://digiteamp5.com/article/pourquoi-le-marketing-sportif" title="DigiTeam - agence digitale sport">Le marketing sportif</a></li>
                <li class="lpage"><a href="http://digiteamp5.com/article/angular-le-framework-javascript" title="DigiTeam - agence digitale sport">Angular</a></li>
                <li class="lpage"><a href="http://digiteamp5.com/article/ionic" title="DigiTeam - agence digitale sport">Ionic</a></li>
                <li class="lpage"><a href="http://digiteamp5.com/article/referencement-naturel" title="DigiTeam - agence digitale sport">Le référencement naturel</a></li>
                <li class="lpage last-page"><a href="http://digiteamp5.com/article/creation-de-site-avec-wordpress" title="DigiTeam - agence digitale sport">Un site web avec Wordpress</a></li>
            </ul></li>
        </ul>


    </div>
</div><br/><br/>

{% include 'layout/footer.html.twig' %}
</body>
{% include 'layout/javascripts.html.twig' %}