html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.container-fluid
{
  padding: 0;
}

#menu-admin
{
  background-color: #23282D;
  height: 100%;
  width: 100%;
  max-width: 220px;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
}

#menu-admin h3
{
  color: white;color: #9FA0A4;
  text-align: center;
  padding-top: 20px;
}

#menu-admin a
{
  color: white;
  font-size: 16px;
}


#menu-admin a:hover
{
  color: #9FA0A4;
  background-color: #23282D;
}

@media (max-height: 730px)
{
  #menu-admin a
  {
    font-size: 14px;
  }

  #menu-admin h3
  {
    font-size: 20px;
    padding-top: 10px;
  }
}

@media (max-height: 640px)
{
  #menu-admin a
  {
    font-size: 12px;
  }

  #menu-admin h3
  {
    font-size: 18px;
    padding-top: 8px;
  }
} 


.barre-admin
{
  background-color: #23282D;
  position: fixed;
  z-index: 2;
  width: 100%;
}


.barre-admin a
{
  color: white;
  font-size: 16px;
}

@media (max-width: 488px)
{
  .barre-admin a
  {
    font-size: 12px;
  }
} 

.barre-admin i
{
  color: white;
}

.barre-admin ul
{
  margin-bottom: 0px;
}

.barre-admin a:hover
{
  color: #9FA0A4;
}

.block-admin
{
  padding: 20px;
  margin-top: 20px;
  margin-left: 220px;
}

.form-group div
{
  padding: 0;
}




#article_image
{
    display: none;
}

.image-preview
{
  max-width: 400px;
  min-width: 400px;
  min-height: 130px;
}

@media (max-width: 750px)
{
  .image-preview
  {
    max-width: 300px;
    min-width: 300px;
  }
}

#image-preview-header, #image-preview-footer
{
  background-color: #F8F8F8;
  max-width: 400px;
  border: 1px solid #D1D1D1;
  padding: 10px;
}

#image-preview-footer
{
  margin-bottom: 30px;
  text-align: right;
}


.btn-admin-table
{
  text-align: center;
}

.th-devis-envoyer
{
  height: 80px;
  resize: none;
}

.ide-tr
{
  display: none;
}